YZDEV20161107-dotnet_kevin-6ccf4b83ce002b6bcf2bb1831aed4c0b6f58f82e/oes/OESClient/LoginUI/Service References/QuestionService/QuestionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OESModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OESModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:int" />
      <xs:element minOccurs="0" name="OptionA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>