YZDEV20161107-dotnet_kevin-6ccf4b83ce002b6bcf2bb1831aed4c0b6f58f82e/oes/Client/LoginUI/Service References/ExamService/ExamService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="localhost:8888/OESLogic" elementFormDefault="qualified" targetNamespace="localhost:8888/OESLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/OESLogic/ExamService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OESModel" />
  <xs:element name="FindAllExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OESModel" minOccurs="0" name="pagination" nillable="true" type="q1:Pagination" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OESModel" minOccurs="0" name="FindAllExamResult" nillable="true" type="q2:ArrayOfExam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExamAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="examId" type="xs:int" />
        <xs:element minOccurs="0" name="questionId" type="xs:int" />
        <xs:element minOccurs="0" name="answer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExamAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>