YZDEV20161107-dotnet_kevin-6ccf4b83ce002b6bcf2bb1831aed4c0b6f58f82e/oes/Client/LoginUI/Service References/QuestionService/QuestionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="localhost:8888/OESLogic" elementFormDefault="qualified" targetNamespace="localhost:8888/OESLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/OESLogic/QuestionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OESModel" />
  <xs:element name="GetQuestionsByExamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsByExamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OESModel" minOccurs="0" name="GetQuestionsByExamIdResult" nillable="true" type="q1:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>